<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.maerd_zinbiel.backend.mwvb.mapper.TheIntroMapper">
    <insert id="insert">
        insert into the_intro(paragraph)
        values
        <foreach collection="intro.paragraphs" item="paragraph" separator=",">
            (#{paragraph})
        </foreach>
    </insert>
    <select id="getAllParagraphs" resultType="java.lang.String">
        select paragraph
        from the_intro;
    </select>
</mapper>