<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.maerd_zinbiel.backend.mwvb.mapper.UnitMapper">
    <insert id="insert" parameterType="Unit" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO unit (index) VALUES (#{unit.index});
    </insert>

</mapper>