<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.QuizMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="quiz.id" keyColumn="id">
        INSERT INTO quiz(unit_id)
        VALUES (#{unitId})
    </insert>
</mapper>