:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit
}

.container {
    display: flex;
    
}

@media (min-width: 35em) {
    .container {
        display: flex;
        margin-left: calc(5vw + 1em);
        margin-right: calc(5vw + 1em);
    }
}

.sidebar {
    flex: 1;
    height: 96vh;
    border: 1px solid white;
    margin-right: 1em;
    margin-top: 1vh;
}

@media (min-width: 35em) {
    .sidebar {
        flex: 0.3;
        height: 96vh;
        border: 1px solid white;
        margin-right: 1em;
        margin-top: 1vh;

    }
}

.main {
    flex: 5;
    height: 95vh;
}

body {
    background-color: darkgray;
    font-family: Helvetica, Arial, sans-serif;
}